.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

header {
	width: 100%;
}

.sidenav {
	display: flex;
	align-items: flex-start;

	flex-direction: column;
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #a1ead0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover,
button:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 25px;
	right: 10px;
	font-size: 36px;
	margin-left: 50px;
	background: transparent;
	border: none;
}

.sidenav .closebtn:hover {
	cursor: pointer;
	color: #f1f1f1;
}
.innerNavTopLeft {
	position: absolute;
	top: -0.5rem;
	left: -1.75rem;
}
.menuIconSize {
	font-size: 36px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
